body{
    margin: 0;
    padding: 0;
    
}
nav{
    display: flex;
    justify-content: flex-end;
    background-color: #1f2937;
    color:#f9faf8;
    padding-right: 100px;
}
ul{
    display: flex;
    list-style-type: none;
    gap: 32px;
}

/* hero section */
.hero{
    display: flex;
    min-height: 100vh;
    background-color: #1f2937;
    color: white;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;

}
.text-content{
    display: flex;
    flex-direction: column;
}

h1{
    font-size: 48px;
    font-weight: 700;
}

.subtext{
    font-size: 18px;
    color: #f9faf8;
    padding-right: 300px;
}


button{
    background-color: #3882f6;
    color: white;
    padding: 18px;
    width: 165px;
}

/* information section */

.information-section{
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 100px;
}

h3{
    align-self: center;
    font-size: 36px;
    font-weight: 400;
    padding: 0;
}
img{
    width: 200px;
    height: 200px;
}
.info-container{
    display: flex;
    justify-content: center;
    gap: 32px;
}

/* quote section */

.quote-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: #E5E7EB;
    padding-left: 300px;
    
    padding: 100px 300px;
}
.quote{
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}
.quoter{
    font-size: 14px;
    font-weight: 500;
}

/* call to action section */
.call-to-action{
    display: flex;
    justify-content: space-around;
    background-color: #3882f6;
    margin:120px 100px;
    align-items: center;
    color: white;
}
.textaction{
    display: flex;
    flex-direction: column;
}

.footer{
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    color: white;
    height: 50px;
    align-items: center;
}